$btn_count: 2; 

.admin-board {
    display: flex;
    flex-direction: column;

    .menu {
        display: flex;
        justify-content: space-around;

        .btn {
            width: 90% / $btn_count;
            padding: 1%;
            text-align: center;
            font-weight: bold;
        }
    }
}

.admin-panel {
    display: flex;

    .add-graph {
        width: 100%;
    }

    .dashboard {
        width: 100%;
    }
}